<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige toutes les requêtes vers index.php si le fichier ou dossier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Désactiver l'affichage des erreurs pour prod
php_flag display_errors Off
